
.css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    border-color: #9e9e9e;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 190px;
    cursor: pointer;
}
.css-13cymwt-control {
    cursor: pointer;
}
.css-qbdosj-Input {
    visibility: visible;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: 1px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: hsl(0, 0%, 20%);
    box-sizing: border-box;
    cursor: pointer;
}